<div
  class="face-snap-card"
  [ngClass]="{ snapped: snapBtn === 'Oops, un Snap' }"
>
<a routerLink="/facesnaps">Back</a>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title" />
  <p>Description : {{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à: {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap()">{{ snapBtn }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >🤌 {{ faceSnap.snaps }}</span
    >
  </p>
 </div>
